@import "tailwindcss";

@theme {
  --color-primary: #5300b9;
  --color-primary-container: #6c2bd9;
  --color-on-primary: #ffffff;
  --color-on-primary-container: #dac7ff;
  --color-secondary: #835500;
  --color-secondary-container: #feae2c;
  --color-on-secondary: #ffffff;
  --color-on-secondary-container: #6b4500;
  --color-tertiary: #6d3000;
  --color-tertiary-container: #914200;
  --color-on-tertiary: #ffffff;
  --color-on-tertiary-container: #ffc3a1;
  --color-surface: #f8f9fa;
  --color-surface-dim: #d9dadb;
  --color-surface-bright: #f8f9fa;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f3f4f5;
  --color-surface-container: #edeeef;
  --color-surface-container-high: #e7e8e9;
  --color-surface-container-highest: #e1e3e4;
  --color-on-surface: #191c1d;
  --color-on-surface-variant: #4a4455;
  --color-surface-variant: #e1e3e4;
  --color-outline: #7b7486;
  --color-outline-variant: #ccc3d7;
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-on-error: #ffffff;
  --color-on-error-container: #93000a;
  --color-inverse-surface: #2e3132;
  --color-inverse-on-surface: #f0f1f2;
  --color-inverse-primary: #d2bcff;

  --font-headline: "Plus Jakarta Sans", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
}
.glass-nav {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(12px);
}